<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco

			 Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Probabilistic Robotics</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="javascripts/skel.min.js"></script>
		<script src="javascripts/skel-panels.min.js"></script>
		<script src="javascripts/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="stylesheets/skel-noscript.css" />
			<link rel="stylesheet" href="stylesheets/style.css" />
			<link rel="stylesheet" href="stylesheets/style-desktop.css" />
		</noscript>
	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<!--<li class="active"><a href="index.html">Homepage</a></li>
						<li><a href="left-sidebar.html">Left Sidebar</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
						<li><a href="no-sidebar.html">No Sidebar</a></li>-->
					</ul>
				</nav>
			</div>
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<h2><a href="#">Probabilistic Robotics</a></h2>
					<!--<span class="tag">Pierre-Paul TACHER</span>-->
				</div>
			</div>
		</div>

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<p>Some work around mathematics and coding. You can visit my <a href="http://github.com/pptacher" target="_blank">Github page</a> for the source code. </p>
				<!--<hr />-->
			</div>
		</div>

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<canvas id="glcanvas" width="760" height="720"></canvas>
				<h3>Rendering with OpenGL of the fastslam algorithm running on Victoria Park dataset.</h3>
				<span style="white-space: pre-line">fastslam C++ application is running asynchronously, streaming the positions of 150 particles to node.js server.
				The data is then send through sockets to client.
				Ongoing development.</span>
			</div>
		</div>

		<!-- Tweet -->
			<div id="tweet">
				<div class="container">
					<section>
						<blockquote></blockquote>
					</section>
				</div>
			</div>


	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h3>Contact</h3>
					</header>
					<ul class="contact">
						<li><a href="http://github.com/pptacher" class="fa fa-github" target="_blank"><span>Github</span></a></li>
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				HTML/CSS Design: <a href="http://templated.co" target="_blank">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="https://unsplash.com/@waqvr?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank">Waqar</a>)
			</div>
		</div>

	</body>
	<script src="javascripts/gl-matrix.js"></script>
	<script src="javascripts/main.js"></script>
</html>
